

.container {
 
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.TeacherFrame{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  margin-left: 100px;
}


.filters {
  margin-bottom: 20px;
}

.teacher-container {

}

.teacher {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #98f1d7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
  padding-right: 10px;
}

.teacher-details {
  margin-top: 10px;
}

.teacher-details h3 {
  margin: 5px 0;
}

.teacher-details p {
  margin: 5px 0;
}

.teacher-details a {
  display: block;
  color: blue;
  text-decoration: none;
  border: #07684b;
}
.teacher-details button{
  padding: 10px;
  align-self: center;
  align-items: center;

}
